body{
    background-color: #141414;
}
.card-bcgd{
    background-color: #1f1f1f;
}
.letras-amarillas{
    color: #d3eb70;
}
.letras-grices{
    color: #d9d9d9;
}
.letras-blancas{
color: #ffffff;
}
.bcgd-btn{
background-color: #333333;
}
.card img{
    border-radius: 50%;
    width: 150px;
    display: flex;
    align-self: center;

}